In [1]:
import pandas as pd
import numpy as np
from ebmdatalab import bq, maps, charts

In [2]:
##extracting anticoag info as requested
sql = '''
SELECT
  extract(year from month) AS year,
  month,
  bnf_code AS BNFCode,
  bnf_name AS BNFName,
  SUM(items) AS TotalItems,
  SUM(actual_cost) AS TotalCost  
FROM
  ebmdatalab.hscic.normalised_prescribing_standard AS presc
WHERE
  bnf_code LIKE "0208020Y0%" ##rivaroxaban
  OR bnf_code LIKE "0208020X0%" ##dabigatran
  OR bnf_code LIKE "0208020Z0%" ##apixaban
  OR bnf_code LIKE "0208020AA%" ##edoxaban
  OR bnf_code LIKE "0208020V0%" ##warfarin
  OR bnf_code LIKE "0208020H0%" ##acenocoumarol
  OR bnf_code LIKE "0208020N0%" ##phenidione
GROUP BY
  year,
  month,
  bnf_code,
  bnf_name
  '''

df_anticoag = bq.cached_read(sql, csv_path='anticoag.zip')

C:\Users\bmackenna\Anaconda3\lib\site-packages\pandas\io\gbq.py:149: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  credentials=credentials, verbose=verbose, private_key=private_key)

In [3]:
df_anticoag.head()

,year,month,BNFCode,BNFName,TotalItems,TotalCost
0,2012,2012-09-01,0208020Z0AAAAAA,Apixaban_Tab 2.5mg,2,88.74
1,2011,2011-01-01,0208020N0AAAAAA,Phenindione_Tab 10mg,885,74933.16
2,2014,2014-11-01,0208020Z0AAAAAA,Apixaban_Tab 2.5mg,8938,403476.98
3,2013,2013-11-01,0208020V0AAAMAM,Warfarin Sod_Liq Spec 3mg/5ml,2,310.52
4,2013,2013-01-01,0208020H0BBAAAA,Sinthrome_Tab 1mg,1278,5811.70

In [4]:
## teh requester wants a denominator of all "eligible population". 
##We don't know what this is but we can provide an age breakdown but perhaps they may wish to exclude children. 
##we can suggest looking at QoF etc as well
sql = ''' 
SELECT 
sum(male_0_4) as male_04
sum(female_0_4) as female_0_4
sum(male_5_14)
sum(male_15_24)
5_34	male_35_44	male_45_54	male_55_64	male_65_74	male_75_plus	female_5_14	female_15_24	female_25_34	female_35_44	female_45_54	female_55_64	female_65_74	female_75_plus	total_list_size

EXCEPT (astro_pu_cost, astro_pu_items, star_pu, pct_id, practice) FROM `ebmdatalab.hscic.practice_statistics` 
'''

df_praclist = bq.cached_read(sql, csv_path='praclist.zip')
df_praclist.head()

,month,male_0_4,female_0_4,male_5_14,male_15_24,male_25_34,male_35_44,male_45_54,male_55_64,male_65_74,male_75_plus,female_5_14,female_15_24,female_25_34,female_35_44,female_45_54,female_55_64,female_65_74,female_75_plus,total_list_size
0,2015-08-01,101,120,210,249,280,241,244,267,229,211,226,256,253,223,296,254,243,293,4196
1,2015-08-01,224,198,444,794,699,548,614,567,390,384,443,699,538,444,531,518,436,531,9002
2,2015-08-01,198,192,377,389,374,473,510,565,589,358,416,345,377,466,554,609,594,485,7871
3,2015-08-01,125,115,226,271,305,245,297,291,191,149,231,259,264,207,301,250,180,161,4068
4,2015-08-01,326,309,618,752,715,663,833,698,539,390,585,730,708,663,849,767,618,576,11339