In [1]:
import pandas as pd
import numpy as np
from ebmdatalab import bq, maps, charts

In [2]:
##extracting top 500 info as requested
sql = '''
WITH
  bnf_tab AS (
  SELECT
    DISTINCT chemical,
    chemical_code
  FROM
    ebmdatalab.hscic.bnf )
SELECT
 SUBSTR(presc.bnf_code, 0, 9) AS chemical_code,
 chemical,
 SUM(items) AS items,
 Sum(actual_cost) AS actualcost
FROM
ebmdatalab.hscic.normalised_prescribing_standard AS presc
LEFT JOIN
bnf_tab
ON
chemical_code=SUBSTR(presc.bnf_code,0,9)
WHERE
 month BETWEEN TIMESTAMP('2018-01-01')
 AND TIMESTAMP('2018-12-01')
GROUP BY
chemical_code,
chemical
ORDER BY
 items DESC
 LIMIT 500
  '''

df_500 = bq.cached_read(sql, csv_path='500.csv')
df_500.head()

C:\Users\bmackenna\Anaconda3\lib\site-packages\pandas\io\gbq.py:149: FutureWarning: verbose is deprecated and will be removed in a future version. Set logging level in order to vary verbosity
  credentials=credentials, verbose=verbose, private_key=private_key)

  chemical_code              chemical     items    actualcost
0     0212000B0          Atorvastatin  41785033  4.880236e+07
1     0602010V0  Levothyroxine Sodium  32158560  6.265076e+07
2     0103050P0            Omeprazole  30970698  4.225413e+07
3     0206020A0            Amlodipine  29027041  3.860608e+07
4     0205051R0              Ramipril  28580631  3.904055e+07